<% form_for @recipe do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :ingredients, "ingredients" %>
    <%= f.text_area :ingredients %>
  </div>

  <div>
   <%= f.label :instructions %>
   <%= f.text_area :instructions %>
  </div>

  <div>
   <%= f.label :tag_ids %>
   <%= f.collection_check_boxes :tag_ids, @tags, :id, :name%>
  </div>

  <%= f.submit %>
  <% end %>
