<div class="container">
  <h1>Add a Recipes</h1>
  <%= form_with(model: @recipe) do |f| %>
    <div class="card">
      <div class="card-body">

          <div class='mb-3'>
            <%= f.label :name, { class: "form-label"}  %>
            <%= f.text_field :name, { class: "form-control", placeholder: " Recipe Name" }  %>
          </div>

          <div class='mb-3'>
            <%= f.label :ingredients, { class: "form-label"} %>
            <%= f.text_area :ingredients, { class: "form-control", placeholder: "Ingredients" }  %>
          </div>

          <div class='mb-3'>
            <%= f.label :instructions, { class: "form-label"} %>
            <%= f.text_area :instructions, { class: "form-control", placeholder: "Instructions" }  %>
          </div>

          <%= f.submit class: 'btn btn-primary' %>

      </div>
    </div>
  <% end %>
</div>
