h1><%= @recipe.name %></h1>

<h2>Ingredients</h2>
<p><%= @recipe.ingredients %></p>

<h2>Instructions</h2>
<p><%= @recipe.instructions %></p

<%= link_to 'Back', root_path, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_recipe_path, class: 'btn btn-default' %>
<%= link_to 'Delete', @recipe, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
