<h1>Recipes#show</h1>

<h2>Ingredients</h2>
<p><%= @recipe.ingredients %></p>

<h2>Instructions</h2>
<p><%= @recipe.instructions %>
<br/>

<%= link_to 'Edit', edit_recipe_path(@recipe), class: 'btn btn-default' %>
<%= link_to 'Back', recipes_path(@recipe), class: 'btn btn-default' %>
<%= link_to 'Delete', recipe_path(@recipe), data: { "turbo-method": :delete }, class: 'btn btn-danger' %>
